
/* ********************************************************************************************************
*************************************** Made by Lautaro Caceres *******************************************
***********************************************************************************************************/

/* Font Poppins import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto', sans-serif; */


/*  Scrollbar */

::-webkit-scrollbar-track
{
	--webkit-box-shadow:5px 5px 0px 0px rgba(0, 0, 0, 0.775);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #dc3545;
}


/* Global variables */
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.mt-100{
  margin-top: 100px;
}

.code {

  font-family: Consolas,"courier new";
  color: rgb(195, 195, 195);
  background-color: #1a223d;
  font-size: 25px;
  width: 35%;
  margin: 0 100px 100px 100px;
  border-radius: 50px;
}


.text-blue-code{
  color: var(--principal-color);
  font-family: Consolas,"courier new";
}

.text-purple-code{
  color: rgb(208, 0, 255);
  font-family: Consolas,"courier new";

}

.text-yellow-code{
  color: rgb(255, 234, 0);
  font-family: Consolas,"courier new";

}

.text-lightblue-code{
  color: rgb(0, 238, 255);
  font-family: Consolas,"courier new";

}




/* Variables */

:root {

  --principal-color: rgb(21, 195, 238);
  --principal-font: 'Inter', sans-serif;

  /* secondary variables */

  --secondary-color: #dc3545;
  --third-color: #fff;

}

/* Codigos generales */

  .title-section{
    font-weight: 700;
    margin: 80px 0 10px 0;
    font-size: 3em;
  }

/* hero */

.cont-hero{
    height: 75vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

/* Burguer menu animation style */

.container-menu-animation{
    display: flex;
    justify-content: end;
    margin:0;
    padding:10px;
  }


  
  .label-menu-animation{
    display:flex;
    padding:30px 30px;
    border-radius: 50px;
    flex-direction:column;
    width: 130px;
    cursor:pointer;
    z-index: 9;
  }
  
  .label-menu-animation .span-menu-animation{
    background: rgb(0, 0, 0);
    border-radius:10px;
    height:7px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  .span-menu-animation:nth-of-type(1){
    width:50%;
    
  }
  
  .span-menu-animation:nth-of-type(2){
    width:100%;
  }
  
  
  .span-menu-animation:nth-of-type(3){
    width:75%;
   
  }
  
  .input-menu-animation[type="checkbox"]{
    display:none;
  }
  
  
  .input-menu-animation[type="checkbox"]:checked ~ .span-menu-animation:nth-of-type(1){
    background: #fff;
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
  }
  
  
  .input-menu-animation[type="checkbox"]:checked ~ .span-menu-animation:nth-of-type(2){
    background: #fff;
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  
  
  .input-menu-animation[type="checkbox"]:checked ~ .span-menu-animation:nth-of-type(3){
    background: #fff;
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
  
  }

  .menu{
    background: var(--principal-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 100px;
    z-index: 8;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
  }

  .menu.is-active{
    opacity: 1;
    visibility: visible;
  }

 

  .menu-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .menu-list-item:not(:last-child){
    margin-bottom: 30px;
  }

  .menu-link{
    position: relative;
    display: inline-flex;
    font-weight: 900;
    font-size: 48px;
    color: var(--third-color);
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu-link:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: var(--third-color);
    transition: .3s;
  }

  .menu-link:hover:after{
    width: 100%;
  }

  /* title-principal */

  .title{
    font-weight: 700;
      margin: 80px 0 10px 0;
      font-size: 6em;
  }

  .gifHero{
   display: flex;
   position: relative;
   top: -15rem;
   width: 5rem;
  }

  .gifHero a{
    position: absolute;
    top: 150px;
    right: -200px;
  }

  .gifHero img{
    z-index: 1;
    position: absolute;
  }

  .contact-button-hero{
    height: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    z-index: 5;
    font-weight: 700;
    left: 85px;
    top: 70px;
  }

  .contact-button-hero:hover{
    color: rgb(211, 6, 6);
  }

  .social-menu ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 60px;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .social-menu ul li{
      list-style: none;
      margin: 15px 0;
  }

  .social-menu ul li .bx{
      font-size: 30px;
      line-height: 40px;
      transition: .3s;
      color: #000;
  }

  .social-menu ul li .bx:hover{
      color: #fff;
  }

  .social-menu ul li a{
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      transition: .6s;
      box-shadow: 0 5px 4px rgba(0,0,0,.5);
  }

  .social-menu ul li a:hover{
      transform: translate(0, -10%);
  }

  .social-menu ul li:nth-child(1) a:hover{
      background-color: rgba(0, 0, 0, 0.829);
  }
  .social-menu ul li:nth-child(2) a:hover{
      background-color: #E4405F;
  }
  .social-menu ul li:nth-child(3) a:hover{
      background-color: #0077b5;
  }
  .social-menu ul li:nth-child(4) a:hover{
      background-color: #000;
  }


  /* Finish hero */

  /* Section-1 starts */
  .arrow-section-1{
    color: rgb(0, 0, 0);
    border-radius: 50px 50px 0 0 ;
    background-color: var(--principal-color);
    width: 3rem;

    height: 75px;
    top: -500px;
    font-size: 70px;
    padding-bottom: 100px;
  }

  .section-1-bg{
    background-color: var(--principal-color);
    padding-bottom: 300px;
  }

  /* button to switch between lenguages */

  .english-spanish-label{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .english-spanish-switch{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .english-spanish-text{
    color: #000;
    font-size: 20px;
    text-align: center;
    display: block;
    transition: .4s;
    margin: 20px 10px 0;

  }

  .english-spanish-slide{
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.775);
    position: relative;
    margin: 20px;
    display: block;
    cursor: pointer;
    background-color: rgb(28, 28, 116);
    transition: .4s;
    width: 120px;
    height: 50px;
  }

  .english-spanish-slide:before{
    content: '';
    position: absolute;
    height: 40px;
    width: 45px;
    background-image: url(../img/banderas/usa.png);
    background-position: center;
    background-size: cover;
    transition: .4s;
    top: 5px;
    left: 15px;
  }

  .english-spanish-switch:checked +.english-spanish-slide{
    background-color: rgb(0, 92, 132);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.775);
  }

  .english-spanish-switch:checked + .english-spanish-slide:before {
    transform: translateX(45px);
    background-image: url(../img/banderas/arg.png);
  }
 

  .btn-custom-cv{
    background:var(--secondary-color);
    overflow: hidden;
    border:none;
    width:180px;
    height:60px;
    border-radius:9px;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
    transform: translateX(-50%) translateY(-50%);
    cursor:pointer;
    margin: 3em 0 0 5em;
  }
  
  .btn-custom-cv .text-button-cv{
      /* text-transform: uppercase; */
      font-weight: 700;
      color:var(--third-color);
      transition: 0.1s;
      font-size: 15px;
      position: fixed;
      transform: translateX(-50%) translateY(-50%);
      opacity:1;
    }
    
    .btn-custom-cv svg{
      display: none;
  }
  
  .btn-custom-cv:active{
    background:#a82431;
  }

  .btn-custom-cv:active  span{
    font-size:16px;
  }
  
  .active-cv .btn-custom-cv{
     background: #3c3c3c !important; 
  }
  .active-cv span{
    opacity:0;
    transition:0.7s;
    transition-delay: 0.9s;
    animation-timing-function: ease-out;
  }
  
  .active-cv svg{
      width: 28px;
      position: absolute;
      left: 80px;
      top: 15px;
      animation: icona;
      animation-iteration-count: 1;
      animation-duration: 1.4s;
      display:block; 
      animation-timing-function: ease-out;
      opacity:1;
  } 
  
  @keyframes icona { 
    0% {opacity:0;}
  90% {opacity:0;height: 15px;margin: 25px auto;} 
  100% {opacity:1;height: 25px;} 
}
  
  .active-cv div{
    width: 200px;
    height: 60px;
    margin: -30px -6px;
    z-index: -1;
    position: absolute;
    background: #3b3b3b;
    animation: loading;
    animation-duration: 0.5s; 
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1,.27,.52,.67);
    
  }
  
  @keyframes loading {
        0% {width:0px;margin: -30px -6px;}
        10% {width:10px;}
        20% {width:30px;} 
      100% {width: 200px;background: #525252;margin: -30px -6px;} 
  }
 
  /* Section-1 ends */

  /* section-2 Starts */

  .skills-glass{
    position: relative;
    top: -23em;
    width: 100%;
    height: 600px;
    padding: 20px 50px ;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 11px rgba(0,0,0,0.1);
    backdrop-filter: blur(11px) saturate(118%);
    -webkit-backdrop-filter: blur(11px) saturate(118%);
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  
  .item-skills{
    width: 90%;
    height: 90%;
    margin: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(11px) saturate(118%);
    -webkit-backdrop-filter: blur(11px) saturate(118%);
    background-color: rgba(255, 255, 255, 0.289);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }


  .item-skills .icon-skills{
    font-size: 60px;
  }

  .item-skills h4{
    font-size: 25px;
    font-weight: 700;
    color: #000;
  }

  .item-skills .bxl-html5{
    color: rgb(252, 92, 0);
  }

  .item-skills .bxl-css3{
    color: rgb(0, 25, 252);
  }

  .item-skills .bxl-javascript{
    color: rgb(252, 248, 0);
  }

  .item-skills .bxl-react{
    color: rgb(0, 244, 252);
  }

  .item-skills .bxl-git{
    color: rgb(252, 92, 0);
  }

  .item-skills .bxs-user-check{
    color: rgb(0, 252, 17);
  }

  .item-skills .bx-trending-up{
    color: rgb(252, 0, 0);
  }

  .item-skills .bxl-bootstrap{
    color: #7952b3;
  }

  /* project-section */

  .recent-work-section{
    position: relative;
    top: -20em;
  }


  /* arrow animation */
  .arrow{
    position: relative;
    left: 48%;
    width: 50px;
    /* transform: rotate(90deg); */
    margin: 40px 0 40px 0;
  }
  .arrow span{
      display: inline;
      width: 20px;
      height: 20px;
      border-bottom: 5px solid #000000;
      border-right: 5px solid #000000;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;

  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
        }
      }
      
  .swiper {
    width: 55%;
    height: 22em;
    margin: 75px 0 75px 0;
  }
  
  .swiper a, a:hover, a:focus, a:active{
    text-decoration: none;
  }
  
  .urlProjects{
    background-color: black;
    font-size: 20px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.775);
    padding: 10px;
    font-weight: 700;
    width: 100%;
    border-radius: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 250px;
    transition: .4s;
  }
  
  .swiper-slide:hover img {
    opacity: 0.1;
    transition: .4s;
  }
  
  .swiper-hover-projects {
    transition: .4s;
    margin-top: 50px;
    color: #010101;
    opacity: 0;
    transform: translatey(-300px);
  }

  .swiper-hover-projects .btn{
    width: 90%;
    height: 50px;
    font-size: 20px;
    text-align: center;
  }

  .swiper-hover-projects:hover {
    opacity: 1;
    /* transform: translatey(-250px); */
  }
  
  .swiper-slide img {
    border-radius: 15px;
    display: block;
    width: 100%;
  }

  /* Section-2 ends */

  /* Contact form starts */

  #contact-section{
    background-color: var(--principal-color);
  }
  

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 0 auto;
    padding: 10px;
    position: relative;
    max-width: 940px;
  }

  .form-horizontal {
    max-width: 100%;
    font-weight: 400;
  }
  
  .form-control, textarea {
    max-width: 100%;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 100%;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
/*   
  .direct-contact-container {
    max-width: 400px;
  } */

  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    letter-spacing: 1.9px;
    color: rgb(255, 255, 255);
  }
  
  .place {
    margin-left: 10px;
  }
  
  .phone {
    margin-left: 10px;
  }
  
  .gmail {
    margin-left: 10px;
  }
  
  .contact-text a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    /* font: 200 14px 'Oswald', sans-serif; */
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  /* Contact form end */
  
  /* footer start */
  /* footer end */

  .footer{
    background-color: rgb(45, 45, 45);
  }
  footer{
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
  }



  /* Media querys */
  @media screen and (max-width: 1200px) {
    .gifHero{
      display: none;  
    }
  }


  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    
    
    
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }

    .title-section{
      font-weight: 700;
      margin: 80px 0 10px 0;
      font-size: 2em;
    }
    
    .title{
      font-weight: 600;
      font-size: 4rem;
    }
    .label-menu-animation{
      display: none;
    }

  }

  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
    .english-spanish-text{
      font-size: 1rem;
    }
    .list-item{
      font-size: .7rem;
    }
    .arrow-section-1 i{
      font-size: 2.5rem;
      padding: 0;
    }  
    .item-skills{
      margin: 0;
      width: 100%;
      padding: 5px;
    }

    .item-skills .icon-skills{
      font-size: 25px;
    }
    .item-skills h4{
       font-size: 15px;
     }
     .skills-glass{
       height: 710px;
     }
     .swiper {
      width: 100%;
      height: 10.5em;
      margin: 75px 0 75px 0;
    }
    .swiper-hover-projects{
      margin-top: 50px;
      font-size: 7px;
      transform: translatey(-200px);
    }
    
    .swiper-hover-projects .btn{
      height: 4em;
      font-size: 13px;
    }

  .swiper-hover-projects:hover {
    opacity: 1;
  }
  
  }

  