
/* ********************************************************************************************************
*************************************** Made by Lautaro Caceres *******************************************
***********************************************************************************************************/

/* Font Poppins import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto', sans-serif; */


/*  Scrollbar */

::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #dc3545;
	border: 2px solid #555555;
}


/* Global variables */
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.mt-100{
  margin-top: 100px;
}



/* Variables */

:root {

  --principal-color: rgb(21, 195, 238);
  --principal-font: 'Inter', sans-serif;

  /* secondary variables */

  --secondary-color: #dc3545;
  --third-color: #fff;

}

/* Codigos generales */

  .title-section{
    font-weight: 700;
    margin: 80px 0 30px 0;
    font-size: 5em;
  }

/* hero */

.cont-hero{
  height: 76vh;
}

/* Burguer menu animation style */

.container-menu-animation{
    display: flex;
    justify-content: end;
    
    margin:0;
    padding:20px;
  }
  
  .label-menu-animation{
    display:flex;
    padding:30px 30px;
    border-radius: 50px;
    flex-direction:column;
    width: 140px;
    cursor:pointer;
  }
  
  .label-menu-animation .span-menu-animation{
    background: rgb(0, 0, 0);
    border-radius:10px;
    height:7px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  .span-menu-animation:nth-of-type(1){
    width:50%;
    
  }
  
  .span-menu-animation:nth-of-type(2){
    width:100%;
  }
  
  
  .span-menu-animation:nth-of-type(3){
    width:75%;
   
  }
  
  .input-menu-animation[type="checkbox"]{
    display:none;
  }
  
  
  .input-menu-animation[type="checkbox"]:checked ~ .span-menu-animation:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
  }
  
  
  .input-menu-animation[type="checkbox"]:checked ~ .span-menu-animation:nth-of-type(2){
    
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  
  
  .input-menu-animation[type="checkbox"]:checked ~ .span-menu-animation:nth-of-type(3){
    
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
  
  }


  /* title-principal */

  .title{
    font-weight: 600;
    font-size: 120px;
    
  }
  

   .dot {
     position: relative;
     bottom: 20px;
     right: 3px;     
    height: 400px;
    width: 400px;
    background-color: var(--principal-color);
    border-radius: 50%;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    display: inline-block;
  }

  .svgHero{
    z-index: 1;
    text-align: center;
    position: absolute;
    right: 250px;
    top: 140px;
  }
  .svgHero img{
    width: 350px;
  }

  .hover-arrow{
    color: var(--secondary-color);
    font-weight: 800;
    margin-top: 25px;
    letter-spacing: 3px;
    margin-left: 75px;
    font-size: 15px;
    transform: rotate(-90deg);  
  }

  /* Finish hero */

  /* Section-1 starts */
  .arrow-section-1{
    position: absolute;
    color: #fff;
    background-color: var(--principal-color);
    border-radius: 50px 50px 0 0;
    width: 75px;
    text-align: center;
    height: 75px;
    top: 90%;
    font-size: 50px;
  }

  .section-1-bg{
    background-color: var(--principal-color);
  }

  /* button to switch between lenguages */

  .english-spanish-label{
    position: relative;
  }

  .english-spanish-switch{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .english-spanish-text{
    color: var(--third-color);
    font-size: 20px;
    text-align: center;
    display: block;
    transition: .4s;
    margin: 20px;
  }

  .english-spanish-slide{
    box-shadow: 5px 5px 0px 0px rgba(255, 0, 0, 0.5);
    position: relative;
    left: 500px;
    margin: 20px;
    display: block;
    cursor: pointer;
    background-color: rgb(28, 28, 116);
    transition: .4s;
    width: 120px;
    height: 50px;
  }

  .english-spanish-slide:before{
    content: '';
    position: absolute;
    height: 40px;
    width: 45px;
    background-image: url(../img/banderas/usa.png);
    background-position: center;
    background-size: cover;
    transition: .4s;
    top: 5px;
    left: 15px;
  }

  .english-spanish-switch:checked +.english-spanish-slide{
    background-color: rgb(0, 92, 132);
    box-shadow: 5px 5px 0px 0px rgb(255, 255, 255);
  }

  .english-spanish-switch:checked + .english-spanish-slide:before {
    transform: translateX(45px);
    background-image: url(../img/banderas/arg.png);
  }
  /* Section-1 ends */

  /* section-2 Starts */
  .swiper {
    width: 100%;
    margin: 75px 0 75px 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper a, a:hover, a:focus, a:active{
    text-decoration: none;
  }

  .urlProjects{
    background-color: var(--third-color);
    font-size: 20px;
    box-shadow: 5px 5px 0px 0px rgba(0, 136, 255, 0.5);
    border: 2px solid #000;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    border-radius: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  /* Section-2 ends */
  

  